{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4"></div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Customers</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_customer }}</div>
                </div>
                <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
            </div>
        </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Orders</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_order }}</div>
                </div>
                <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
            </div>
        </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Revenue</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">${{ total_revenue }}</div>
                    </div>
                    <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
                </div>
            </div>
            </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-5">
            <h5>CUSTOMERS</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'customer_new' %}">Log Customer</a>
                <table class="table table-sm">
                    <tr>
                        <th>Customer</th>
                        <th>Email</th>
                    </tr>

                    {% for customer in customer_list %}
                    <tr>
                        <td>{{ customer.full_name}}</td>
                        <td>{{ customer.email}}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

        <div class="col-md-7">
            <h5>RECENT ORDERS</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="{% url 'order_new' %}">Log Order</a>
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    
                    {% for order in order_list %}
                    <tr>
                        <td>{{ order.product_name }}</td>
                        <td>${{ order.price }}</td>
                        <td>{{ order.date_purchased }}</td>
                        <td><a href="{% url 'order_edit' pk=order.pk %}">Edit</a></td>
                        <td><a href="{% url 'order_delete' pk=order.pk %}">Delete</a></td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

    </div>  
{% endblock content %}